.box {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 47, 51);
  height: 100%;
  width: 40%;
  overflow-y: auto;
  border-radius: 1em;
  box-shadow: 0 0 13px 0px #0000003b;
}

::-webkit-scrollbar {
  background: #0f0f0f4a;
  height: 80%;
}

::-webkit-scrollbar-thumb {
  background: #454545b3;
  border-radius: 1em;
}
