.searchHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(94, 71, 207);
  padding: 1em 2em;
  color: white;
  border-radius: 0.7em;
}
