.movie {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(255 255 255 / 21%);
  height: 15%;
  align-items: center;
  column-gap: 2em;
  color: white;
  transition: all 0.1s ease-in-out;
}

.imageContainer {
  height: 70%;
  padding-left: 2.5em;
}

.image {
  height: 100%;
  object-fit: contain;
}

.movieShortDescr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.movie:hover {
  background-color: rgba(255, 228, 196, 0.035);
}

.movieStats {
  display: flex;
  column-gap: 1em;
}
