.statsDescription {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 15%;
  justify-content: center;
  color: white;
  row-gap: 1em;
  background-color: #525252;
  box-shadow: 0px -20px 0px 20px #525252;
}

.allStats {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
}
