.addToList {
  display: block;
  background-color: rgb(94, 71, 207);
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  border: 0;
  color: inherit;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.addToList:active {
  transform: scale(0.99);
}
.addToList:hover {
  background-color: rgba(110, 85, 236, 0.912);
}
